@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-x: hidden;
}
body {
  background-color: #171717; /* color: #bfe866; */
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}
/*home page starts here*/

/*Navbar starts here*/
.navbar-container {
  color: #a3e635;
}
.logo {
  font-family: "Rubik Doodle Shadow", sans-serif;
  color: #a3e635;
}
.icon {
  font-size: 42px;
}
.option-container {
  color: #a3e635;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
}
@media screen and (max-width: 450px) {
  .home-page {
    width: 100vw;
    display: flex;
    margin-top: 5vh;
  }
  .header1 {
    font-size: 40px;
    align-self: center;
  }
  .header2 {
    font-size: 25px;
    align-self: center;
  }
  .navbar-container {
    width: 100%;
    height: 12vh;
  }
  .search-container {
    height: 90%;
    width: 98%;
  }
  .icon {
    font-size: 35px;
  }
  .home-icon {
    margin-left: 0;
    align-self: flex-start;
    gap: 5px;
  }
  .home-icon > p {
    font-size: 30px;
  }
  .navbar-container {
    flex-direction: column;
  }
  .outer-navbox {
    width: 90%;
    height: 100%;
  }
  .navbox-outer {
    width: 100%;
    height: 90%;
    padding: 0px;
  }
  .search-icon {
    font-size: 20px;
  }
  .option-container {
    width: 100%;
    gap: 10px;
    font-size: 16px;
    justify-content: flex-start;
    padding: 0px;
  }
  .inside-btns {
    font-size: 24px;
    padding: 1px;
  }
  .option-container > a > button {
    padding: 0px 5px;
  }
}
/*Navbar ends here*/

/*Toggle-button starts */
/*Toogle-button ends*/

/*Loader starts here*/
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
  margin-top: 23vh;
  margin-left: 47vw;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #abf254;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
/*Loader ends here*/

/*footer starts here*/
.links {
  height: 2.7rem;
  width: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media screen and (max-width: 450px) {
  .footer-div {
    height: 9vh;
  }
  .links {
    height: 2.4rem;
    width: 2.4rem;
  }
}
/*Footer ends here*/

/*Home-page starts here*/
.header1,
.header2 {
  font-family: Rubik Doodle Shadow;
}
/*Home-page ends here*/

/*Search page starts here*/
.search-result-container {
  width: 100%;
  min-height: 10vh;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(47, 47, 47);
}
@media screen and (max-width: 450px) {
  .inner-search-div {
    width: 90%;
    align-items: center;
  }
  .search-result-container {
    width: 90%;
  }
  .search-title {
    font-size: 17px;
  }
}
/*Search page ends here*/

/*Image page starts here*/
.image-result-container {
  width: 19%;
  height: 27vh;
  box-shadow: 0px 0px 5px 1px rgb(47, 47, 47);
  border-radius: 10px;
}
.image-result-container > div {
  width: 100%;
  height: 18vh;
  object-fit: cover;
  background: url("../src/not-found.jpg") no-repeat;
  background-size: cover;
}
.image-result-container > img {
  object-fit: cover;
  width: 90%;
  height: 90%;
}
.image-result {
  border-radius: 5px;
}
@media screen and (max-width: 450px) {
  .inner-search-div {
    width: 100%;
  }
  .image-result-container {
    width: 46%;
  }
  .image-result-container > p {
    font-size: 13px;
  }
}
/*Image pafe ends here*/

/*News page starts here*/
.news-container {
  box-shadow: 0px 0px 5px 3px rgb(63, 63, 63);
  border-radius: 10px;
  cursor: default;
}
.newsImageContainer {
  width: 7vw;
  height: 7vw;
  background: url("../src/not-found.jpg") no-repeat;
  background-size: cover;
  border-radius: 7px;
}
@media screen and (max-width: 450px) {
  .inner-news-div {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .news-description {
    display: none;
  }
  .news-container {
    gap: 1px;
  }
  .detail-container {
    width: 70%;
    font-size: 14px;
  }
  .newsImageContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .newsImageContainer > img {
    width: 100%;
    object-fit: cover;
    height: max-content;
    border-radius: 3px;
  }
}
/*News page ends here*/

/*Video page starts here*/
.video-result-container {
  width: 19%;
  height: 27vh;
  box-shadow: 0px 0px 5px 1px rgb(47, 47, 47);
  border-radius: 10px;
}
.video-result-container > div {
  width: 100%;
  height: 18vh;
  object-fit: cover;
  background: url("../src/not-found.jpg") no-repeat;
  background-size: cover;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .outer-video-div {
    width: 100%;
  }
  .video-result-container {
    width: 45%;
    font-size: 13px;
  }
  .loader {
    margin-top: 19vh;
    margin-left: 42vw;
  }
}
/*Video page strts here*/

.navigator-div {
  position: absolute;
  margin-left: 80vw; margin-bottom: 26vh;
  font-family: "Poppins", sans-serif;
}
.dissapear {
  display: none;
}
@media screen and (max-width: 450px) {
  .navigator-div {
    margin-left: 60vw;
    margin-bottom: 16vh;
  }
}
